<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title || '한글 명언 Open API' %> </title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
  <!-- 네비게이션 바 -->
  <%- include('navbar') %>
  <!-- 메인 컨테이너 -->
  <main class="container mx-auto mt-8 break-keep">